#Ishikki_Akabane
python-telegram-bot==12.8
telethon
Pyrogram
#database
sqlalchemy==1.3.20
psycopg2-binary
redis==3.5.3
aioredis==2.0.0
hiredis==2.0.0
pymongo
dnspython
TgCrypto
#requirements
"""
aiohttp
requests
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@907070d129b7cf80b0236d72fb498667b5b22b63
git+https://github.com/trentm/python-markdown2
telegraph
wikipedia
pyjokes
beautifulsoup4
CurrencyConverter
ffmpeg-python
psutil
googletrans
coffeehouse
speedtest-cli
Pillow
future
emoji
heroku3
spamwatch
animedev
feedparser
regex
yt-dlp
youtube_search_python
youtube_search
asyncio
dateparser
tzlocal
lxml
wget
gtts
faker
hachoir
pynewtonmath
spongemock
zalgo-text
geopy
jikanpy
bleach
alphabet_detector
pybase64
pySmartDL
validators
nekos.py
aiofiles
pyrate-limiter
cachetools
ujson
pretty_errors
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
fontTools
bing_image_downloader
search_engine_parser
pytz
lyricsgenius
tswift
envparse
better_profanity
motor
cloudscraper
pendulum
pykeyboard
youtube_dl
fuzzysearch
Python_ARQ
httpx[http2]
gpytranslate
google-trans-new
humanize
opencv-python-headless
"""