future
emoji
lxml
beautifulsoup4
requests
sqlalchemy==1.3.20
python-telegram-bot==13.9
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow
CurrencyConverter
gpytranslate
jikanpy
speedtest-cli
coffeehouse
regex
bleach
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@907070d129b7cf80b0236d72fb498667b5b22b63
git+https://github.com/trentm/python-markdown2
wikipedia
telethon
spamwatch
alphabet_detector
pyrate-limiter
covid
datetime
pytz
cachetools
ujson
bs4
fontTools
hachoir
pybase64
pySmartDL
validators
youtube_dl
youtube-search-python
gtts
pretty_errors
tswift
pyYAML
humanize
search_engine_parser
html2text
bing_image_downloader
multicolorcaptcha
